*{
    margin: 0;
    padding: 0;
    list-style: none;
}

h2{
    font-size: 3em;

    @media (min-width: 320px) and (max-width: 768px){
        font-size: 2rem;
    }
}

header{
    background-color:rgb(209, 183, 148);
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
align-items: center;


@media (min-width: 320px) and (max-width: 768px){
    height: 20vh;
}
}

img{
    width: 15vw;
    border-radius: 50%;

    @media (min-width: 320px) and (max-width: 768px){
       width: 20vw;
    }
}

/* ul{
    width: 10vw;
    display: flex;
    justify-content: space-around;
}


form{
    height: 25vh;
    display: flex;
    flex-direction: column;
}

label{
    font-size: 1rem;
} */